@charset "utf-8";

#wrap { width: 100%; height: 1000px; }

#canvas_wrap { display:block; width:1000px; height: 800px; border:1px solid #ccc; background:#fff; margin:0 auto; }
#canvas_wrap2 { display:block; width:1000px; height: 800px; border:1px solid #ccc; background:#fff; margin:0 auto; }
#canvas_wrap3 { display:block; width:1000px; height: 800px; border:1px solid #ccc; background:#fff; margin:0 auto; }

.svg { width: 400px; margin: 50px auto;}

.circle { fill:#99c; stroke:#00c; width: 400px; height: 400px;}
.circle2 { fill:none; stroke:#09c; stroke-width:10px; width:400px; height: 400px;}
.circle3 { fill:violet; stroke:#09c; stroke-width:10px; width:400px; height: 400px;}
.rect { fill:none; stroke:#c00; width: 400px; height: 400px;}
.rect2 { fill:gray; stroke:yellowgreen; stroke-width:10px; width: 400px; height: 400px;}

